<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Practice | LearnWithUs
    </title>
</head>
<body>

    <h1>This is in development phase, will be back soon</h1>
<!-- 
    <h1>Here is the your question</h1>
    <h2> {{question.questionID}}) {{question.title}}</h2>
    <h4>Description: {{question.description}}</h4>


    <form action="{% url 'program-runner' pk=question.questionID %}" method="POST">
        {% csrf_token %}
        {% if code %}
        <textarea name="usercode" id="usercode" rows="15" cols="80">{{code}}</textarea>
        {% else %}
        <textarea name="usercode" id="usercode" rows="15" cols="80">def main():
    // Code here
    // print the output too
        </textarea>
        {% endif %}
        <br>
        <input type="submit" value="Run code and see output">
    </form>
    {% if outputs %}
    <h4>Our output</h4>
    
        {% for output in outputs %}
            {{output}} <br>
        {% endfor %}
    {% else %}

    <h3>Pahle code to likh fir output dekhna be</h3>

    {% endif %}

    <a href="../../practicecode" style="position: fixed; bottom: 1rem; right: 1rem;">
        Back
    </a>

    <button>
        <a href="{% url 'seeAllSubmission' pk=question.questionID %}">See your submission</a>
    </button> -->

</body>
</html>