{% extends 'base.html' %}
{% load static %}

{% block title %}
Electronic Engineering
{% endblock %}

{% block heading %}
Electronic Engineering Notes
{% endblock %}


{% block linkcss %}
<link rel="stylesheet" href="{% static 'css/et.css' %}">
{% endblock %}




{% block content %}



<!-- First Year Notes -->
<h2 class="yearheading">First Year Notes</h2>
<div class="firstyear">
    <div>
        <a href="static/notes/hbtukanpurfirstyear/ICS.zip" download>
            <img src="{% static 'etimages/et1st/c.png' %}" alt="">
        </a>

    </div>
    <div>
        <a  href="static/notes/hbtukanpurfirstyear/chem.zip" download>
            <img src="{% static 'etimages/et1st/chem.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/hbtukanpurfirstyear/electrical.zip" download>
            <img src="{% static 'etimages/et1st/ee.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/hbtukanpurfirstyear/iet.zip" download>
            <img src="{% static 'etimages/et1st/et.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/hbtukanpurfirstyear/Graphics.zip" download>
            <img src="{% static 'etimages/et1st/graphics.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/hbtukanpurfirstyear/maths.pdf" download>
            <img src="{% static 'etimages/et1st/m2.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/hbtukanpurfirstyear/maths.pdf" download>
            <img src="{% static 'etimages/et1st/Mathematics.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/hbtukanpurfirstyear/mechanical.zip" download>
            <img src="{% static 'etimages/et1st/mechanics.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/hbtukanpurfirstyear/pc.zip" download>
            <img src="{% static 'etimages/et1st/pc.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/hbtukanpurfirstyear/Physics.zip" download>
            <img src="{% static 'etimages/et1st/Physics.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/hbtukanpurfirstyear/workshop.zip" download>
            <img src="{% static 'firstyearimg/workshop.png' %}" alt="">
        </a>
    </div>


</div>



<!-- Second Year Notes -->
<h2 class="yearheading">Second Year Notes</h2>
<div class="firstyear">
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Analog Circuits.png' %}" alt="">
        </a>

    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Computer Oriented Numerical.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Cyber Security.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Data Structure Using C.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Digital Electronics (ET).png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Digital Electronics (CS & IT).png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Electrical Circuit Analysis.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Electromagnetic Field Theory.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Engineering EnM.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Hardware Description Language.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Indian Constitution.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Mathematics-III.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Organizational Behaviour.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Signal and Systems.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Solid State Devices (ET).png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="soon">
            <img src="{% static 'etimages/et2nd/Solid State Devices & Circuits (EE).png' %}" alt="">
        </a>
    </div>



</div>




<!-- Third Year Notes -->
<h2 class="yearheading">Third Year Notes</h2>
<div class="firstyear">
    <div>
        <a href="static/notes/semester6/AI.zip">
            <img src="{% static 'etimages/et3rd/Advanced Instrumentation.png' %}" alt="">
        </a>

    </div>
    <div>
        <a href="static/notes/semester5/AC.zip">
            <img src="{% static 'etimages/et3rd/Analog Communication.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/semester5/AIC.zip">
            <img src="{% static 'etimages/et3rd/Analog Integrated Circuits.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/semester5/AWP.zip">
            <img src="{% static 'etimages/et3rd/Antenna and Wave Propagation.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/semester6/CS.zip">
            <img src="{% static 'etimages/et3rd/Control System.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/semester6/DC.zip">
            <img src="{% static 'etimages/et3rd/Digital Communication.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/semester6/ML.zip">
            <img src="{% static 'etimages/et3rd/Machine Learning.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/semester5/MP.zip">
            <img src="{% static 'etimages/et3rd/Microprocessors.png' %}" alt="">
        </a>
    </div>
    <!-- <div>
        <a href="">
            <img src="{% static 'etimages/et3rd/OEC.png' %}" alt="">
        </a>
    </div> -->
    <div>
        <a href="static/notes/semester5/OR.zip">
            <img src="{% static 'etimages/et3rd/Operation Research.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/semester6/OC SN.zip">
            <img src="{% static 'etimages/et3rd/Optical Communication.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/semester5/VLSI.zip">
            <img src="{% static 'etimages/et3rd/VLSI Design.png' %}" alt="">
        </a>
    </div>
    <div>
        <a href="static/notes/semester6/EED.zip">
            <img src="{% static 'etimages/et3rd/eed.png' %}" alt="">
        </a>
    </div> 



</div>







{% endblock %}