{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/emailbase.css' %}">

    <!-- <link rel="stylesheet" href="{% static '../../../../static/css/index.css' %}"> -->



    {% block style %}

    {% endblock %}

    {% block linkcss %}

    {% endblock %}
</head>

<body>

   

    {% block content %}

    {% endblock %}

</body>

</html>