.head h1
{
    color: rgb(22, 33, 62);
    text-decoration: underline;
    /* border-bottom: 4px solid rgb(22, 33, 62); */
    margin-top: 5vw;
    padding-left: 2rem;
    margin-left: 1.2rem;
    font-family: 'Alkatra';
    padding-bottom: 0rem;

}



.intro
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    place-content: center;
    place-items: center;

}

.textdata
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
    align-items: center;
}

.intro .images img
{
    height: 7rem;
    transform: skew(-10deg);
}


.intro .textdata p
{
    font-weight: 550;
    width: 95%;
    text-wrap: wrap;
    /* text-align: center; */
}

section
{

    font-family: cursive;
    font-weight: 300;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid black;
    border-radius: 1.2rem;
    margin-left: 1.6%;
    margin-bottom: 1.2%;
}

.intro p
{
    margin-right: 2rem;
}

.head-last
{
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(22, 33, 62);
    text-decoration: underline;
    /* border-bottom: 4px solid rgb(22, 33, 62); */
    margin-top: 5vw;
    padding-left: 2rem;
    margin-left: 1.2rem;
    font-family: 'Alkatra';
    padding-bottom: 0rem;
}

.intro section
{
    margin-right: 2rem;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;

}

.end
{
    /* padding: 2rem; */
    margin: 2rem;
}

.core
{
    height: 24rem;
}

@media screen and (max-width:800px)
{
    .intro
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-content: center;
    }

    .up .intro
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        place-content: center;
    }
}