
html {
    border: 5px solid rgb(22,33,62);
    box-shadow: 10px 5px 10px  rgb(22,33,62);
    margin: 1rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
    padding: 1rem;
}

h1{
    text-align: center;
    color: rgb(22,33,62);
}

textarea{
    width: 95%;
    border: 1px solid rgb(22,33,62);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    box-shadow: 15px 10px 10px  rgb(22,33,62);
    font-family: cursive;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem 0rem 1rem;
    outline: none;
}

.askbutton{
    border: 1px solid rgb(22,33,62);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: white;
    background-color: rgb(22,33,62);
    font-size: 1rem;
    font-weight: bold;
    margin-left: .5rem;
}

.query-container {
    border: 2px solid rgb(22,33,62);
    border-radius: 1rem;
    margin: 1rem;
    padding: .5rem 1.5rem;
    box-shadow: 5px 3px 5px  rgb(22,33,62);
}

.query-container h2 {
    color: rgb(22,33,62);
    font-size: 1.5em;
}

.query-container p {
    color: rgb(22,33,62);
    margin: .25rem;
    font-size: 1em;
}
