.explore-head
{
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 2rem;
    width: fit-content;
    padding: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    /* padding-bottom: 1rem; */

}

.explore-head h1
{
    color: rgb(22, 33, 62);
    text-decoration: underline;
    border-bottom: 4px solid rgb(22, 33, 62);
    padding-left: 0;
    margin-left: 1rem;
    font-family: 'Alkatra';
    padding-bottom: 0rem;
}

.allcourses
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-content: center;
    row-gap: 10vw;
    margin-bottom: 10vw;
}

.course
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    place-content: center;
    place-items: center;

}

.textdata
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
    align-items: center;
}

.course .images img
{
    height: 10rem;
    transform: skew(-10deg);
}


.course .textdata p
{
    font-weight: 550;
    width: 60%;
    text-wrap: wrap;
    /* text-align: center; */
}

.course a
{
    border: 1px solid gray;
    background-color: rgb(22, 33, 62);
    color: white;
    padding: .5rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    border-radius: 1rem;
}


@media (max-width:700px)
{
    .explore-head
    {
        margin-top: 2rem;
        margin-left: 0;
        padding-left: .5rem;
        line-height: 1;
    }

    .explore-head h1
    {
        margin-left: 0;
        font-size: 1.5rem;
        border-bottom: 0;
    }

    .course
    {
        border: 2px solid rgb(22, 33, 62);
        box-shadow: 1px 1px 5px rgb(22, 33, 62);
        width: fit-content;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;

    }

    .even
    {
        display: flex;
        flex-direction: column-reverse;

    }

    .course .textdata
    {
        margin-bottom: 2rem;
    }
}