{% extends 'base.html' %}

{% block title %}
Contact Us
{% endblock %}



{% block heading %}
Contact @ LearnWithUs
{% endblock %}

{% block linkcss %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}


<!-- Content Starting from here -->

{% block content %}

<div class="head-text">
    <h1>Fill out this form !</h1>
</div>

<div class="form-div">

    <p style="color: red;">
        {{error}}
    </p>

    <form action="../contact/" method="POST">

        {% csrf_token %}

        {% for form in forms %}
        <div>
            {{form}}
        </div>
        {% endfor %}


        <input style="color: white;" class="submit" type="submit" value="Submit Now">

    </form>

</div>



{% endblock %}