{% extends 'base.html' %}
{% load static %}

{% block title %}
Opportunities @ LearnWithUs
{% endblock %}

{% block linkcss %}
<link rel="stylesheet" href="{% static 'css/opportunities.css' %}">
{% endblock %}



{% block heading %}
Opportunities @ LearnWithUs
{% endblock %}


{% block content %}




<main>

    <!-- Internship Section -->
    <section>
        <div class="heading-data">
            <h2>
                Internships
            </h2>
        </div>
            
        {% if user.is_superuser %}
        <a style="text-align: right  ;" href="internshipupdatesatlearnwithus">Update Internships</a>
        {% endif %}

        <div class="all-interships">

            {% for internship in internships %}

            <div class="internship-detail">
                <h3>{{internship.title}}</h3>
                <img src="{{internship.image.url}}" alt="">
                <p>
                    {{internship.desc}}
                    <a href="{{internship.link}}" target="_blank">
                        Learn More
                    </a>

                </p>
            </div>

            {% endfor %}

        </div>


    </section>

    <br>
    <br>

    <!-- Hackathons and Competition Section -->
    <!-- competetionupdatesatlearnwithus -->
    <section>
        <div class="heading-data">
            <h2>Hackathons/Competitions</h2>
        </div>
        {% if user.is_superuser %}
        <a href="competetionupdatesatlearnwithus">Update Competetions</a>
        {% endif %}

        <div class="all-interships">

            {% for competetion in competetions %}
            <div class="internship-detail">
                <h3>{{competetion.title}}</h3>
                <img src="{{competetion.image.url}}" alt="">
                <p>
                    {{competetion.desc}}
                    <a href="{{competetion.link}}">Register Now</a>
                </p>
            </div>
            {% endfor %}


        </div>

    </section>

    <br>
    <br>

    <!-- Scholarships Section -->
    <!-- scholarshipupdatesatlearnwithus -->
    <section>
        <div class="heading-data">
            <h2>Scholarships</h2>
        </div>

        {% if user.is_superuser %}
        <a href="scholarshipupdatesatlearnwithus">Update Scholarships</a>
        {% endif %}
        <!-- for scholarships -->
        <div class="all-interships">


            {% for scholarship in scholarships %}
            <div class="internship-detail">
                <h3>{{scholarship.title}}</h3>
                <img src="{{scholarship.image.url}}" alt="">
                <p>
                    {{scholarship.desc}}
                    <a href="{{scholarship.link}}">Learn More</a>
                </p>
            </div>
            {% endfor %}


        </div>
    </section>

    <br>
    <br>

    <!-- Job Opportunities Section-->
    <section>
        <div class="heading-data">
            <h2>Job Opportunities</h2>
        </div>
        {% if user.is_superuser %}
        <a href="jobupdatesatlearnwithus">Update Jobs</a>
        {% endif %}
        <div class="all-interships">

            {% for job in jobs %}
            <div class="internship-detail">
                <h3>{{job.title}}</h3>
                <img src="{{job.image.url}}" alt="">
                <p>
                    {{job.desc}}
                    <a href="{{job.link}}">Apply Now</a>
                </p>
            </div>

            {% endfor %}

        </div>
    </section>

    <br>
    <br><br>
    <br>

</main>


{% endblock %}