{% extends 'base.html' %}
{% load static %}

{% block linkcss %}
<link rel="stylesheet" href="{% static 'css/hackathon.css' %}">
{% endblock %}


{% block title %}
Hackathon X LearnWithUs
{% endblock %}

{% block heading %}
Hackathon @ LearnWithUs
{% endblock %}



{% block content %}

<div class="form-div">

    <p style="color: red;">
        {{error}}
    </p>

    <form action="hackathon" method="POST">

        {% csrf_token %}

        {% for form in forms %}
        {{form}}
        {% endfor %}

        <input style="color: white;" class="submit" type="submit" value="Submit Now">

    </form>

    <br><br><br>
</div>

{% endblock %}