{% extends 'base.html' %}
{% load static %}

{% block linkcss %}

<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}



{% block title %}
Home | LearnWithUs
{% endblock %}



{% block heading %}
LearnWithUs - Shaping Tech Genius
{% endblock %}


{% block content %}


<div style="position: fixed; bottom: 1rem; left: 1rem; border-radius: 50%; padding: 1rem; color: white; border: 1px solid rgb(22, 33, 62); background-color: rgba(255, 255, 255);">
    <a href="learnwithusai/askalectogideon">
        <img src="{% static 'images/alecto.png' %}" style="height: 3rem;">
    </a>
</div>


<div class="container">

    <div class="content">
        <p class="text1">LearnWithUs</p>
        <p class="text2">Where we promote to <br> Learn in <span style="color: rgb(0, 110, 255);">Public</span> with
            <span style="color: brown;">Public</span>
        </p>



        {% if user.is_authenticated %}
        <p style="font-size: 1.8rem;">Welcome back {{user.first_name}} !</p>
        
        <input type="text" placeholder="What do you wanna learn today?">
        {% else %}

        <!-- Commenting for now -->
        <p class="login-link">
            <a href="userlogin">Login Now</a>
            <a href="emailotp">Create an Account</a>
        </p>

        {% endif %}



    </div>


    <div class="container-img">
        <!-- <img src="{% static 'lounge-man-working-on-web-design.gif' %}" alt=""> -->
        <img src="{% static 'images/lady.jpg' %}">
        <!-- <img src="{% static 'coworking-male-programmer-writing-program-code.gif' %}" alt=""> -->
    </div>

</div>
<br> <br>
<hr>
<div class="explore-text">
    <h1>Start Exploring</h1>
</div>

<div class="parent">
    <div class="child">
        <h2>Books, courses, and <span style="color: brown;">much more...</span></h2>
        <p>Get all kind of books, <br> notes, blogs, questions, and <br> all you need to work on</p>
        <a href="courses">Explore more</a>
    </div>
    <div class="child">
        <img src="{% static 'images/dizzy-programmer-working-with-code-on-a-laptop.gif' %}" alt="">
    </div>
</div>
<div class="parent second">
    <div class="child">
        <img src="{% static 'images/clip-online-education-4.gif' %}" alt="">
    </div>
    <div class="child">
        <h2>Get to know about all <span style="color: rgb(0, 110, 255);">Opportunities</span></h2>
        <p>Get to know the best Opportunities <br>available to you in one single place.</p>
        <a href="opportunities/opportunities">See all opportunities</a>
    </div>
</div>

<br><br>

<hr>

<div class="explore-text">
    <h1>Events !</h1>
</div>

<div class="competition">
    <div class="video video1">
        <video autoplay loop muted>
            <source src="{% static 'video/coding.mp4' %}">
        </video>
        <h3>
            <a href="hackathon"><i>Register for Dev Hackathon Now</i></a>
        </h3>
    </div>

    <div class="video video2">
        <video autoplay loop muted>
            <source src="{% static 'video/typing.mp4' %}">
        </video>
        <h3>
            <a href="../practicecode"><i>Go to Practice section</i></a>
            <!-- Coding contests coming soon.... -->
        </h3>
    </div>

</div>

<br><br><br>

{% endblock %}