<!-- {% load static %} -->

{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnWithUs</title>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">


</head>

<body>
    <div class="body">

        <div class="left">
             <div>
                <h1 style="color: rgb(255, 255, 255);">LearnWithus </h1>
            </div>

            <!--<div class="register-btn-div">
                <a href="register" class="register-btn">Register Now</a>
            </div> -->
            <img style="height: 40vh;" src="{% static 'images/lounge-digital-data-protection-and-information-security.gif' %}" alt="">
        </div>

        {% if user.is_authenticated %}

        <div class="right">
            <div style="border: 2px solid rgb(22, 32, 62); border-radius: 1rem; padding: .5rem; padding-left: 1rem; padding-right: 1rem;">
                <h1 style="font-size: 1.25rem; text-align: center;">Sorry {{user.first_name}} buddy! <br> But you are already Logged In. </h1>
                <h2 style="font-size: 1.25rem; text-align: center;">Go to <a href="home">HomePage</a></h2>
            </div>
        </div>

        {% else %}
        
        <div class="right">


            <form method="POST" action="userlogin" autocomplete="off">
    
                {% csrf_token %}
    
                <div>
                    <h1 style="text-align: center; color: rgb(22, 32, 62); font-family: cursive; padding-bottom: 2rem;">Welcome back !</h1>
                    <!-- <div class="login-button"><h1>Hello !</h1> </div> -->
                    <h2>Sign in to your account</h2>
                </div>
    
                <div class="login-form">
                    <div>
                        <!-- <label>Username :</label> -->
                        <input type="text" name="username" placeholder="Username">
                    </div>
    
                    <div>
                        <!-- <label>Password :</label> -->
                        <input type="password" name="password1" placeholder="Password">
                    </div>
                </div>
    
                <br><br>
    
                <div class="login-button">
                    <input type="submit" value="Login Now">
                    <p style="color: red; text-align: center;">{{error}}</p>
                </div>
    
            </form>
            <div>
                <a href="{% provider_login_url 'google' %}?next=/">Login With Google</a>
            </div>
             <div class="register-btn-div">
                <a href="emailotp" class="register-btn">Register Now</a>
            </div>

        </div>

        {% endif %}

    </div>

    <br>

    



</body>

</html>